.actions {
  display: flex;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
  width: 250px;
  height: 200px;
  /* background-image: url(../images/envelope.svg);
   */
   list-style: none;
}

.button {
  width: 250px;
  height: 250px;
  border: none;
  background-color: #fff;
  color: #000;
}

.button-icon {
  width: 100px;
  height: 100px;
  fill: red;
}

.button-icon:hover {
  fill: blue;
}